<div class="comment">
	<h5><%= comment.author_name %> says ...</h5>
	<p><%= comment.body %></p>
	<p><i>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</i></p>
</div>