<h1>All Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
	  <p><% if logged_in? %><%= link_to "New Post", new_article_path, class: "new_article" %><% end %></p>
    </li>
  <% end %>
</ul>